@use '../../_common.scss';

.bk-picker-container {
  .picker {
    @extend .bk-shadow;
    position: absolute;
    border: 0.5px solid common.$bk-border;
    background-color: common.$bk-background;
    overflow: auto;
  }
}