@use '../../_common.scss';

.bk-text-field-container {

  display: flex;
  align-items: center;

  &.top-align {
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    font-size: 0.9rem;
  }

  .label-left-align {
    margin-right: 0.5rem;
  }

  .label-top-align {
    margin-bottom: 0.1rem;
  }

  .input-field-container {
    position: relative;
    display: block;
  }

  .text-field {
    border: 1px solid common.$bk-border;
    border-radius: 2px;
    padding: 4px;
    flex: 1;
    box-sizing: border-box;
    transition: border-color 0.3s;
    outline: none;

    background-color: common.$bk-background;
    color: common.$bk-text;

    &:focus {
      border-color: common.$bk-primary;
    }

    &.error {
      border-color: common.$bk-danger;
    }

    &:disabled {
      background-color: common.$bk-disabled-color;
      cursor: not-allowed;
    }

    &.top-align {
      width: 100%;
    }
  }

  .input-field-cls-if-trigger-if-left {
    padding-left: 30px;
  }

  .input-field-cls-if-trigger-if-right {
    padding-right: 30px;
  }

  .triggerIconCls {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.right {
      right: 10px;
      left: unset;
    }
  }
}