$isDarkMode: false;

$bk-primary: #8b5cf6;
$bk-danger: #f44336;

$bk-text: if($isDarkMode, #fff, #000);
$bk-background: if($isDarkMode, #000, #fff);
$bk-border: if($isDarkMode, #e0e0e0, #e0e0e0);
$bk-disabled-color: if($isDarkMode, #ccc, #f5f5f5);

$bk-decent-shadow-color: rgba(0, 0, 0, 0.2);
$bk-hover-color: if($isDarkMode, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));

body {
  background-color: if($isDarkMode, #333333, #f5f5f5);
  color: if($isDarkMode, #fff, #333);
}

.bk-primary {
  background-color: $bk-primary;
  color: $bk-background;
}

.bk-primary-invert {
  color: $bk-primary;
  background-color: $bk-background;
}

.bk-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}